button {
    padding: $spacing-sm 0;
    font-size: $font-size-lg;
    border: none;
    border-radius: $radius-sm;
    cursor: pointer;
    align-items: center;
    gap: $spacing-sm;
    width: 100%;

    &.primary {
        background-color: $color-gray-900;
        color: $color-white;
    }

    &.secondary {
        background-color: $color-gray-100;
        color: $color-gray-700;
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}
