button {
    padding: 8px 0;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
    gap: 0.5rem;
    width: 100%;

    &.primary {
        background-color: #171717;
        color: white;
    }

    &.secondary {
        background-color: #f5f5f5;
        color: #404040;
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}
