@use "../../../../../styles/variables" as *;

.agenda {
    .item {
        display: flex;
        gap: $spacing-lg;
        padding: $spacing-md 0;
        border-bottom: 1px solid $color-gray-200;

        &:last-child {
            border-bottom: none;
        }

        .time {
            font-weight: 600;
            color: $color-primary;
            min-width: 80px;
        }

        .details {
            h4 {
                font-size: $font-size-md;
                margin-bottom: 4px;
            }

            p {
                font-size: $font-size-sm;
                color: $color-gray-600;
            }
        }
    }
}
