<app-header></app-header>

<section class="dashboard">

    <!-- Welcome -->
    <div class="welcome">
        <h1>Welcome back, {{ user.name }}</h1>
        <p>Stay connected with upcoming company events and activities</p>
    </div>

    <!-- Upcoming Events -->
    <section class="section">
        <div class="section-header">
            <h2>Upcoming Events</h2>
            <a routerLink="/events">View all</a>
        </div>

        <div class="event-list">
            @for (event of upcomingEvents(); track event.eventId) {
            <app-event-card [event]="event" />
            }
        </div>
    </section>

    <app-categories></app-categories>

    <!-- Trending -->
    <section class="section">
        <h2>Trending Events</h2>

        <div class="trending">
            @for (event of trendingEvents(); track event.eventId) {
            <div class="trending-card">
                <div class="image-placeholder"></div>

                <h4>{{ event.title }}</h4>

                <!-- ✅ FIX -->
                <p>{{ event.category.categoryName }}</p>

                <app-button label="Register" [disabled]="event.currentUserStatus === 'REGISTERED'"></app-button>
            </div>
            }
        </div>
    </section>

    <!-- Calendar -->
    <app-calendar></app-calendar>

</section>

<app-footer></app-footer>