<app-header></app-header>

@if (event()) {
<main class="event-details">
    <app-event-hero [event]="event()!"></app-event-hero>

    <div class="content-grid">
        <section class="main">
            <app-event-about [event]="event()!"></app-event-about>

            @if (event()?.agenda) {
            <app-event-agenda [agenda]="event()!.agenda"></app-event-agenda>
            }

            @if (event()?.speakers) {
            <app-event-speakers [speakers]="event()!.speakers"></app-event-speakers>
            }

            @if (event()?.faqs) {
            <app-event-faq [faqs]="event()!.faqs"></app-event-faq>
            }
        </section>

        <app-event-sidebar [event]="event()!"></app-event-sidebar>
    </div>
</main>
}

<app-footer></app-footer>