<section class="browse-category">
    <h3>Browse by Category</h3>

    <div class="category-grid">
        @for (cat of categories(); track cat.label) {
        <div class="category-card" [routerLink]="['/events']" [queryParams]="{ category: cat.label }">
            <div class="icon-box">
                <img class="icon" [src]="cat.icon" [alt]="cat.label" />
            </div>

            <div class="label">{{ cat.label }}</div>
            <div class="count">{{ cat.count }} events</div>
        </div>
        }
    </div>
</section>