/* Global styles entry point */
@use "./styles/reset";
@use "./styles/variables" as *;

/* ✅ Checkbox */
.p-checkbox {
    background-color: #000000;
    border-color: #000000;
    border-radius: 8px;
}

.p-checkbox::after {
    border-color: #000000;
}

/* ✅ Custom Button Variant */
.p-button.add-event {
    background: #16a34a !important;
    border: none;
    color: white !important;
}

.p-button.add-event .pi {
    color: white !important; // icon color
}

.p-button.add-event:not(.p-disabled):hover {
    background: #15803d !important;
}

/* ✅ Prevent horizontal scrollbars */
body {
    overflow-x: hidden;
}

:root {
    --p-button-primary-color: #222 !important;
    --p-button-primary-hover-color: #131313 !important;
}
